body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
 }

#main {
  flex: 1 0 auto;
}

footer{


}
      

.titulo{
    line-height: normal;
    text-align: center;

}

.texto{
	padding-top: 5%;
	text-align: justify;
}

.cita{

	font-style:italic; ;
	padding-right: 10%;
	padding-left: 10%;
	color: #808080;
	line-height:1.9em;

}

.rayita{
	height: 3px;
	background-color: #000;
	width: 100%;
	margin: 2% 0% 2%;
}

.pregunta{
	font-size: 1.6em;
	color: #3949ab;
}

.respuesta{
	font-size:1.3em;
	padding: 3%;
}

.respuesta ul{
	padding: 2%;
}

.respuesta ul li{
	padding: .5%;
}


.datos h5{
	font-size: 1.2em;

}

.padayu{
	height: 1px;
	margin: 1%;
}

.padayu2{

		height: 1px;
		margin-bottom: 18%;
}


.especial{
	float: right;
	text-decoration: none;
}

.circulo{


}



@media (max-width: 800px) {


	.row a{
		margin: 2%;
		display: list-item;
	}

	.row .btn-default{
		display: list-item;
		word-wrap: break-word;
		float: left;	}
	/*

	.botonyo{
		margin: 2%;
	}
	*/
	
}
